.all {
    background-color: blueviolet;
}
.titles {
    background-color:#A79595;
    color: #1E008A;
    font-size: 40px;
    text-align: center;
}
.list {
    text-align: center;
    font-size: 120px;
}
.listed {
    text-align: justify;
    background-color: black;
    color: red;
    font-size: large;
}
.center {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;

}